@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap');


body {
    width: 90% ; 
    margin: 0 5%; 
    background-color: #2a2a2a;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.add{
    width: 25px;
    height: 25px;
}

/* ---------- Message ----------------------------------------------------*/


.erreur, .message {
    font-size:1em;
    display: block;
}
.erreur ul{
    list-style: none square;
}

.erreur{ 
    background-color:rgb(237,210,229);
    color:rgb(203,28,128);
}
.message{ 
    background-color:rgb(99, 184, 255);
    color:rgb(0,0,205);
}

/* ---------- Entete ----------------------------------------------------*/
header {
    display:grid;
    place-items: center;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 20px;
    height: 130px;
}

header img{
    width: 200px;
}

nav  {
    grid-column : 2 / -1;
    width: 100%;
}

#menu ul {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    box-sizing: border-box;
}

#menu a {
    width: 100%;
}

#menu li {
    list-style: none;
    text-align:center;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    padding: 5px 20px 3px 20px;
    color: rgba(198, 198, 198, 0.8) ; 
    background: #191919 ;
    border-bottom: solid 3px transparent;
    height: 39px;
    letter-spacing: .05rem;
}

#menu li:hover {
    border-bottom: solid 3px orange;
    color: white;
}

#menu a li, #categories a li {
    text-decoration:none;
    padding-top: 2px;

}

/* ---------- Jeux ----------------------------------------------------*/

#visite {
    display: flex;
}

#visite aside ul{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2px;
}

#visite aside ul li {
    list-style: none;
    width:185px;
    text-align:center;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    padding: 5px;
    color: rgba(198, 198, 198, 0.8) ; 
    background: #191919 ;
    border-bottom: solid 3px transparent;
    height: 33px;
    letter-spacing: .05rem;
    transition: all .1s linear;
}

#visite aside ul li.first {
    height: 2px;
    border-radius: 10px 10px 0 0;
}

#visite aside ul li.last {
    height: 2px;
    border-radius: 0 0 10px 10px ;
}

#visite aside ul li.cat:hover {
    border-bottom: solid 3px orange;
    color: white;
}

#visite aside ul li.last:hover,
#visite aside ul li.first:hover {
    border-bottom: 3px solid transparent;
}

section.articles {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

section article .image {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

section article .image img{
    max-width: auto;
    place-self: center;
    overflow: hidden;
    height: 160px;
    box-sizing: border-box;
}

.panier {
    transform: translateY(5px);
}

section article .panier:hover {
    rotate: -15deg;
}

section article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    padding: 15px;
    border: 2px solid rgba(184, 133, 2, 0.704);
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(255, 166, 0, 0.489);
    width: 13rem;
    background-color: #202020;
    color: white;
    height: 380px;
    box-sizing: border-box;
}

.descr {
    display: flex;
    flex-direction: column;
    place-items: start;
}

a {
    text-decoration: none;
    color: white;
}



/* ---------- Formulaire ----------------------------------------------------*/

fieldset {
    display:block;
    width:50%;
    border: 1px dotted #353535;
    padding:5px;
    overflow:hidden;                   
}

label {
    background:transparent none;
    display: block;
    width: 20%;
    float: left;
    padding-right: 1%;
    text-align: left;
}

input {
    margin-left: 1%;
    width: 30%;
    border: #CCC 1px solid;
    margin: 3px;
}

input:hover, #ent input:focus {
    border: #999 1px solid;
    background-color: #DDEEFF;
}

input[type="submit"] {
    border: #1b1b1b 1px solid;
    width: 50%;
    height: 30px;
    font-size: .9rem;
    font-weight: 600;
    background-color: orange;
    cursor: pointer;
    border-radius: 5px;
}

